doctype html
html
    head
        title="Login with google"
        style
            include ./style/style.css
    body        
        div.container
            h1.header Login with google - test
            button.google-login 
                img.logo(src="/images/google.png") 
                | Login with Google 
